html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* border: 1px solid red; */
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #4e4b4b;
}

/*
 * Styles for the game container
 */
 .container,
 .score-panel,
 .deck {
    max-width: 700px;
 }
 
.container,
.game-finish-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

/*
 * Styles for the deck and cards
 */
.deck {
    margin: 10px 20px;
    padding: 16px;
    background: linear-gradient(160deg, #02ccba 0%, #9BBA1E 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.deck .card {
    height: 75px;
    width: 75px;
    margin: 5px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

@media (min-width: 540px) {
    .deck {
        padding: 32px;
    }
    .deck .card {
        height: 125px;
        width: 125px;
        margin: 10px;
    }
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */
.score-panel {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    padding: 0 62px;
    color: #4e4b4b;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.seconds-container {
   margin-right: 10px;
}


/*
 * Styles for the game finish page
 */
.game-finish-info {
    background-color: white;
    height: 100%;
}

.game-finish-info-score {
    font-size: 1.2rem;
}

.game-finish-info-btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    background-color: #02ccba;
    border-radius: 10px;
}

/*
 * Styles helper
 */
.clickable {
    cursor: pointer;
}

.hidden {
    display: none;
}

/* 
    animations
    taken from https://github.com/IanLunn/Hover 
*/
@keyframes hvr-buzz-out {
    10% {
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        transform: translateX(1px) rotate(0);
    }
    100% {
        transform: translateX(-1px) rotate(0);
    }
}

.hvr-buzz-out {
    animation-name: hvr-buzz-out;
    animation-duration: 0.85s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes hvr-wobble-vertical {
    16.65% {
        transform: translateY(8px);
    }
    33.3% {
        transform: translateY(-6px);
    }
    49.95% {
        transform: translateY(4px);
    }
    66.6% {
        transform: translateY(-2px);
    }
    83.25% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}

.hvr-wobble-vertical {
    animation-name: hvr-wobble-vertical;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}